.App {
  text-align: center;
}

.App-header {
  background-color: #5b5c5e;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #07a4cf;
  font-weight: bold;
}
.App-link:hover {
  color: seagreen;
}

.title-red {
  color: red;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 50px;
  font-style: oblique;
  text-shadow: white 3px;
}

img {
  height: 50%;
  width: 50%;
  box-shadow: 0 0 8px 3px;
}

.foo {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: large;
}
